@charset "UTF-8";


/* PALETA DE CORES

*{
    background-color: #9A34EB; ROXO
    background-color: #EBAA3F; LARANJA
    background-color: #2B29EB; AZUL 
    background-color: #D7EB10; AMARELO
    background-color: #1C85EB; AZUL CEU
} */

* {
    
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body {
    background-color: #1C85EB;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}

header {
    min-height: 80px;
    text-align: center;

}
header > img {
    
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 20px;
}

main {
    min-width: 200px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}



header > h2 {
    position: relative;
   font-size: .8em;
   background-image: linear-gradient(to right, rgb(255, 145, 0), rgb(208, 255, 0));
   min-height: 0px;
    text-align: center;
    margin: 20px;
    padding: 5px;
    box-shadow: 2px 7px 7px black;
    border-radius: 15px 0px;

}



main > img {
    margin: 0px;
    width: 100%;
    border-radius: 20px 0px;
    box-shadow: 2px 7px 7px black;

}

nav {
    
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px 0px;
    box-shadow: 2px 7px 7px black;
}

nav > a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #eaff00;
    margin: 10px;
    
}

footer {
    color: #eaff00;
    text-align: center;
    font-size: 0.5em;
    margin: 5px;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    box-shadow: 2px 7px 7px black;
}

