@charset "UTF-8";

/* PALETA DE CORES

*{
    background-color: #9A34EB; ROXO
    background-color: #EBAA3F; LARANJA
    background-color: #2B29EB; AZUL 
    background-color: #D7EB10; AMARELO
    background-color: #1C85EB; AZUL CEU
} */

